/* src/HDashBoard.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard-container {
    display: flex; /* 전체 레이아웃을 flexbox로 설정 */
    height: 100vh; /* 전체 높이를 화면에 맞춤 */
}

.navigation {
    width: 10%; /* 좌측 내비게이션 너비 10% */
    height: 100%; /* 높이 100% */
    background-color: #0FB7B1; /* 배경색 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.logo{
    margin: 10px 0;
}
.navigation-item{
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;
    margin: 10px 0;
    list-style: none;
}
.navigation-item li{
    margin: 5px 0;
}
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content-area{
    display: flex;
    flex: 1;
}
.main-left{
    flex:3;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
}
.main-right{
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}
.section{
    flex: 1;
}   

.title-bar{
    height: 5%;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    font-size: 20px;
    padding: 0;
}
.user-name-bar{
    width: 100%;
    height: 80px;
    background-color: #CFF1EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.color-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: gray;
}
.user-name-bar strong{
    font-size: 24px;
}
.user-options{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-button{
    background-color: none;
    color: rgb(0, 0, 0);
    border: none;
    padding:5px 10px;
    cursor: pointer;
}

.user-button:hover{
    background-color: #0FB7B1;
    color: white;
}
.divider{
    margin: 0 5px;
}

.left{
    flex: 1;
    background-color: #8d5c5c;
}
.detail-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0FB7B1; 
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

.detail-button:hover {
    background-color: #0a8f8f; /* 호버 시 색상 변경 */
}
