/* src/NotificationSettings.css */


.section-title {
    height: 50px; 
    border-top: 2px solid #000; 
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
}

.section-content {
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px; 
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.save-button {
    padding: 10px;
    color: #0fb7b1;
    background-color: none;
    border:1px solid #0FB7B1; 
    cursor: pointer;
}

.button-container {
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    margin: 10px 0; 
}
.save-button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}
.circle-button {
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background-color: #ccc;
    margin: 0 10px;
    cursor: pointer; 
    position: relative; 
    transition: background-color 0.3s; 
}

.circle-button.active {
    background-color: #0FB7B1; 
}

.inner-circle {
    width: 10px; /* 흰색 버튼의 너비 */
    height: 10px; /* 흰색 버튼의 높이 */
    border-radius: 50%; /* 흰색 버튼을 원형으로 */
    background-color: white; /* 흰색 */
    position: absolute; /* 부모 요소에 대해 절대 위치 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
}