.fa-x{
    margin-left: 220px;
    background: none;
    border: none;  
    cursor: pointer; 
}

.fa-circle{
    color: #8ccfcf;
}

.name {
    font-weight: bolder;
}

.date {
    border-bottom: 1px solid black;
}

.box {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
}

.overlay {
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 999; 
    width: 100vw; 
    height: 100vh;
    top: 0;
    left: 0;
}

.time-slot{
    border: 1px solid rgb(0, 0, 0);
    background: none;
    margin-bottom: 4px;
    width: 40px;
    padding: 3px 0px 3px 0px;
    align-items: center;
}

.save{
    margin-left: 89px;
    color: #8ccfcf;
    border: 1px solid #8ccfcf;
    background-color: white
}